.main-content {
    width: 850px;
    height: 600px;
    background-color: #f9f9f9;
    overflow-y: auto;
    padding: 1.5rem;
}

.top-question{
    color: rgb(50, 49, 49);
    font-size: x-large;
    margin: 20px 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
  }

.filter-buttons {
    display: flex;
    gap: 1rem;
    width: 200px;
    margin-bottom: 1.5rem;
}

.filter-button {
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 50px;
    cursor: pointer;
}

.filter-button.active {
    background-color: #f48225;
    color: #fff;
}

.loading,
.error {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #666;
}

.questions-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.question-card {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.question-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.question-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.question-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;
    color: #666;
}

.question-tags{
    display: flex;
}

.tags{
    border: 1px solid rgb(0, 157, 255);
    border-radius: 50px;
    padding:5px 15px;
    margin: 5px;
    font-size: smaller;
    font-weight: bold;
    color: #666;
}

.error-message{
    color: #333;
}

.question-score{
    display: flex;
    justify-content: space-between;
}